$light-grey: #f9f9f9;
$hover-grey: #f3f1f1;
#contacts{
    display: block;

    h3{
        text-align: center;
        color: $dark;
        font-size: 25px;
    }
    h4{
        text-align: center;
        color: $dark;
        font-size: 25px;
    }
    div{
        background-color: $hover-grey ;
        text-align: center;
        font-size: 20px;
        padding: 1% 3%;

    }
}