$light-purple: #ff71fa;
$so-light-purple: #eedaed;
$dark: #313030;
$purple: #b20072;
$light-grey: #f9f9f9;
$hover-grey: #edeaea;
$white: rgb(255, 255, 255);
#private{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
    font-size: 18px;
    h3{
        text-align: center;
        color: $dark;
        font-size: 25px;
    }
    input{
        align-content: center;
        width: 60%;
    }
    li {
        width: 110%;
        font-size: 20px;
        margin: 2%;
        list-style-type: none; 
       }
       ul {
       
        margin-left: 0; 
        padding-left: 0; 
       }
}