.section-video {
    .section-video {
        // position: relative;
        // height: 100vh;
        video {
            // display: block;
            width: 100vw;
            height: 10vh;
        }
    }
}
body {
    overflow: hidden;
}
